@model Club
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                </div>
           </div>
        </div>
    </nav>
    <section class="bg-white space-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mb-4 mb-sm-0">
                    <img alt="Image" src="@Model.ProfileImage" class="rounded img-fluid" />
                </div>
                <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
                    <div>
                        <h1 class="mb-2">@Model.Name</h1>
                        <h2 class="lead mb-3">@Model.Address</h2>
                        <div>
                            <span class="badge badge-secondary mr-3">@Model.Category</span>
                        </div>
                    </div>
                    <div>
                        <div class="btn-group mb-2">
                            <button type="button" class="btn btn-success btn-lg">JOIN CLUB</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="space-sm">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md-8 col-lg-7">
                    <h5 class="mb-4">ABOUT</h5>
                    <article>
                        @Model.Desc
                    </article>
                    <hr>
                    <h5 class="mb-4">Discussion</h5>
                    <div class="card">
                        <div class="card-header bg-secondary d-flex justify-content-between">
                            </div>
                    </div>

                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div><i class="icon-text-document mr-1"></i> Created</div>
                                    <span>17/11/2022</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div><i class="icon-edit mr-1"></i> Last updated</div>
                                    <span>23/12/2022</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div><i class="icon-thumbs-up mr-1"></i> Owner</div>
                                    <span>Lorem</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div><i class="icon-share mr-1"></i> Shares</div>
                                    <span>Ipsum</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
             </div>
        </div>
   </section>
</div>
